
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="home">
    <div class="container">
        <div class="Pathway">
            <ul>
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                <li>Giới thiệu Despository</li>
            </ul>
        </div>
        <div class="sortable">
            

            <div class="block">
                <h3>Giới thiệu sách</h3>
                <div class="intro1 cc" id="contentID">
                    <p style="text-align:justify;">
                        <span style="color:#ff0000;">
                            <span style="font-size:16px;">
                                <strong>Giới thiệu về Despository</strong>
                            </span>
                        </span>
                    </p>

                    <p style="text-align:justify;">
                        <ul>
                            <li>Nhà sách trên mạng Despository.vn là nơi mà Qúy khách có thể dễ dàng lựa chọn cho mình những quyển sách hay, có giá trị đích thực với giá cả phải chăng.

                    Quý khách hoàn toàn có thể yên tâm về chất lượng của từng sản phẩm mà chúng tôi cung cấp. Với đội ngũ nhân viên thân thiện, nhiệt tình, có trình độ chuyên môn về lĩnh vực Kinh doanh xuất bản phẩm, chúng tôi hi vọng sẽ mang lại cho quý khách nhiều sự lựa chọn trong việc tìm kiếm và thưởng thức những cuốn sách hay, có giá trị.</li>
                           
                            <li>Ra đời từ năm 2011, đến nay Nobita.vn đã trở thành địa chỉ mua sách online quen thuộc của hàng ngàn độc giả trên cả nước. Với đầu sách phong phú, thuộc các thể loại: Văn học nước ngoại, Văn học trong nước, Kinh tế, Kỹ năng sống, Thiếu nhi, Sách học ngoại ngữ, Sách chuyên ngành,... được cập nhật liên tục từ các nhà xuất bản uy tín trong nước.

                        Khi mua sách online tại Nobita.vn, Quý khách được Bọc plastic miễn phí đến 99% (trừ sách bìa cứng, sách dạng hộp - dạng đặc biệt, sách khổ quá to, ...)

                            Ngoài ra, với hình thức Giao hàng thu tiền tận nơi và Đổi hàng trong vòng 7 ngày nếu sách có bất kỳ lỗi nào trong quá trình in ấn sẽ giúp Quý khách yên tâm hơn khi mua sắm tại Nobita.vn</li>
                            
                        </ul>
                     

                      
                    </p>
                </div>

            







        </div>
    </div>
</div>
</div>