
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="home">
    <div class="container">
        <div class="Pathway">
            <ul>
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                <li>Liên hệ với Despository</li>
            </ul>
        </div>
        <div class="sortable">


            <div class="block">
                <h3>Giới thiệu sách</h3>
                <div class="intro1 cc" id="contentID">
                    <p style="text-align:justify;">
                        <span style="color:#ff0000;">
                            <span style="font-size:16px;">
                                <strong>Giới thiệu về Depository</strong>
                            </span>
                        </span>
                    </p>

                    <p style="text-align:justify;">
                        <ul>
                            <li> Hotline: 0938 424 289</li>
                            <li> Email: admin@nobita.vn</li>
                            <li> Website:<a href="/"></a> http://www.Depository.vn</li>
                            <li>Fanpage:<a href=" https://www.facebook.com/Nobita.vn"></a> https://www.facebook.com/Depository.vn </li>
                            <li>Địa chỉ: 25/5 Thăng Long, Phường 4, Quận Tân Bình, TP. Hồ Chí Minh</li>
                        </ul>



                    </p>
                </div>









            </div>
        </div>
    </div>
</div>
