<style>

</style>
<div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h3>VỀ CỬA HÀNG </h3>
                <p>Chúng tôi chỉ bán hàng chính hãng</p>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>GIỚI THIỆU</h3>
                <p>Chính sách và quy định</p>
                <p>Câu hỏi thường gặp</p>
                <p>Thông báo</p>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>VỊ TRÍ CỬA HÀNG</h3>
                <p>Địa chỉ: 25/5 Thăng Long, P. 4, Quận Tân Bình, TP. Hồ Chí Minh</p>
                <h3>HỖ TRỢ</h3>
                <p>080-1234-56789</p>
                <p>080-1234-56780</p>
            </div>
            <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
                <h3>EMAIL</h3>
                <form>
                    <input type="text"><input type="submit" value="go" />
                </form>
                <h3>THEO CHÚNG TÔI</h3>
                <ul>
                    <li><a href="#"><img src="~/Assets/Client/images/twitter.png" title="twitter" />Twitter</a></li>
                    <li><a href="#"><img src="~/Assets/Client/images/facebook.png" title="Facebook" />Facebook</a></li>
                    <li><a href="#"><img src="~/Assets/Client/images/rss.png" title="Rss" />Rss</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="clear"> </div>
    <div class="wrap">
        <div class="copy-right">
            <p>&copy; 2013 All Rights Reserved</a></p>
        </div>
    </div>
</div>
